/* FYI: https://stackoverflow.com/questions/18485059/forward-slash-in-class-name */

.page- .Content,
.home .Content {
  height: auto;
}

/* move everything below the nav */
.Content {
  margin-top: var(--menuHeight);
  /* height: 100vh; */
}

/* holding page */
.Content--holdingpage {
  height: 100vh;
  margin-top: 0;
  position: relative;
}
