/* 

  Content block 
  …with fixed nav
  …with sticky footer

  FYI: https://stackoverflow.com/questions/18485059/forward-slash-in-class-name

*/

div[class*="page-"] {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* the home page is different… */
.page- .Content,
.home .Content {
  height: auto;
}

/* move everything below the nav */
.Content {
  flex: 1;
  margin-top: var(--menu-height);
  /* height: 100vh; */
}

/* holding page */
.Content--holdingpage {
  height: auto;
  margin-top: 0;
}

/* 

  Pages

 */

.page-contact {
  @mixin CoverImage;
  background-image: url("/images/home-girl-1.jpg");
}

.page-contact .Footer a {
  color: var(--c-bg);
}

.page-faqs,
.page-delivery-and-returns {
  background-color: var(--c-neutral);
}

/* 

  Cards

*/

.Card-block {
  color: var(--c-pale-text);
  padding: calc(0.9 * var(--responsive-space)) calc(1 * var(--responsive-space));

  @media (--sm) {
    /* padding: calc(1.5 * var(--s-4)) calc(1.666 * var(--s-4)); */
  }
}

/* 

  Utils

*/

.u-initialCase {
  text-transform: initial !important;
}
