/* 

  Content block
  FYI: https://stackoverflow.com/questions/18485059/forward-slash-in-class-name

*/

.page- .Content,
.home .Content {
  height: auto;
}

/* move everything below the nav */
.Content {
  margin-top: var(--menu-height);
  /* height: 100vh; */
}

/* holding page */
.Content--holdingpage {
  height: auto;
  margin-top: 0;
}

/* 

  Pages

 */

.page-contact {
  @mixin CoverImage;
  background-image: url("/images/home-girl-1.jpg");
}

.page-contact .Footer a {
  color: var(--c-bg);
}
